/*
* Author: Project #1 Fire
* Project Name: Project Fire CSS
* Version: Initialzed
* Date: 08.29.17
* URL: github.com/itsokayitsofficial/project1/
*/



/*=========
Base Styles
=========*/

iframe {
	border: 0;
}

/*=========
Main
=========*/

.tab-content {
	padding-top: 30px;
}

#searchContent {
	margin: 0 auto;
	text-align: center;
}

.content {
	padding: 2px;
}
